/* Color palette */
spam {
  color: #ba8538;
}
spam {
  color: #f2b705;
}
spam {
  color: #fdf3cc;
}
spam {
  color: #2d3340;
}
spam {
  color: #8bab6a;
}

/* ACOMODAR
Agregar fondo negro al NavBar
Descargar las imagenes del carrusel de mayor width 
*/

/* ------------------------------------------------------------------------------------------------------ */

/* General style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

/* Header style*/
nav {
  height: 20vh;
}
.NavBarOptions {
  padding-top: 4rem;
}

nav a img {
  width: 18rem;
  height: 15rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
}

.NavBarOptions a {
  padding: 0.8rem 1.2rem;
  background-color: #212529;
  font-size: 1.8rem;
  text-decoration: none;
  color: #f5f5f5;
}

.NavBarOptions a:hover {
  padding: 0.8rem 1.2rem;
  border-radius: 2rem;
  color: #f5f5f5;
  background-color: #ba8538;
}

/*Carousel stye*/

.carousel-item {
  background-color: #212529;
}

.carousel-cap {
  max-width: 50rem;
  position: absolute;
  top: 3rem;
  right: 4rem;
}

.carousel-cap .name {
  font-family: "Ephesis", cursive;
  font-size: 11rem;
  color: #ba8538;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.carousel-cap .phrase {
  font-size: 2rem;
  font-weight: 600;
  color: #fdf3cc;
  text-align: justify;
}
