/* Color palette */
spam {
  color: #ba8538;
}
spam {
  color: #f2b705;
}
spam {
  color: #fdf3cc;
}
spam {
  color: #2d3340;
}
spam {
  color: #8bab6a;
}

/* ACOMODAR
Agregar fondo negro al NavBar
Descargar las imagenes del carrusel de mayor width 
*/

/* ------------------------------------------------------------------------------------------------------ */

/* General style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: #fdf3cc;
  font-size: 2.4rem;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url("../img/Background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* text style*/
.title1 {
  margin-top: 12rem;
  font-size: 10rem;
  font-weight: 600;
  text-align: center;
}

.title2 {
  margin: 5rem;
  font-size: 6.4rem;
  font-weight: bold;
  color: #8bab6a;
  text-align: center;
}

.title3 {
  margin-top: 10rem;
  margin-bottom: 2rem;
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
}

p {
  text-align: justify;
}

.mainParagraph {
  text-shadow: 2px 2px 4px black;
  margin-bottom: 2rem;
}

.secondaryParagraph {
  font-size: 2rem;
}

.importantWord {
  font-weight: 900;
}
/* Header style*/
nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
.NavBarBg {
  position: absolute;
  top: 0px;
  min-height: 250px;
  z-index: 2;
}

#home {
  position: absolute;
  top: 3rem;
  z-index: 4;
}

.NavBarOptions img {
  width: 18rem;
  height: 15rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
}

.NavBarOptions a {
  padding: 0.8rem 1.2rem;
  background-color: black;
  font-size: 1.8rem;
  text-decoration: none;
  color: #f5f5f5;
}

.NavBarOptions a:hover {
  padding: 0.8rem 1.2rem;
  border-radius: 2rem;
  color: #f5f5f5;
  background-color: #ba8538;
}

/*Carousel stye*/

.carousel-item {
  background-color: #212529;
}

.carousel-cap {
  max-width: 50rem;
  position: absolute;
  top: 30%;
  right: 4rem;
}

.carousel-cap .name {
  font-family: "Ephesis", cursive;
  font-size: 11rem;
  color: #ba8538;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.carousel-cap .phrase {
  font-size: 2rem;
  font-weight: 600;
  color: #fdf3cc;
  text-align: justify;
}

.productImage {
  width: 80%;
  height: auto;
}
